body{
     font-family:Georgia, 'Times New Roman', Times, serif;
     margin:20px;
}
h1{
     text-align: center;
}
.block-menu a{
     text-decoration:none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:#000;
     display:block;
     padding:10px;
     margin:5px 0;
     background-color:rgb(250, 3, 122);
}
.inline-menu a{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:#000;
     text-decoration:none;
     display:inline;
     padding:10px;
     margin:5px;
     background-color:blue;
}
.inline-block-menu a{
     background-color:orange;
     display: inline-block;
     text-decoration:none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:#fff;
     height: 50px;
     width : 120px;
     padding:10px 15px;
     margin:5px;
}
.float-menu a{
     background-color:rgb(2, 249, 249);
     text-decoration:none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:#141414;
     padding:10px 15px;
     margin:25px;
     float:right;
}
.clear-example{
     clear:both;
     text-decoration:none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color:rgb(247, 193, 193);
     padding:10px;
     margin-top:20px;
     border:1px solid #ccc;
}