h1{background-color: rgb(218, 155, 167);}

h1{
     color: rgb(236, 236, 240);
     text-align:center;
     font-size: 50px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
     font-family: "italian";
     font-size: 20px;
     text-align: justify;
     margin: 20px;
}