/* Global Styling */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 20px;
}

/* Page Title */
.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Product Card */
.product-card {
    background: #fff;
    width: 260px;
    text-align: center;
    padding: 18px;
    border-radius: 14px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Product Image */
.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Product Name */
.product-card h3 {
    font-size: 17px;
    margin-bottom: 8px;
}

/* Product Description */
.product-card p {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
}

/* Product Price */
.price {
    color: #0a8a0a;
    margin-bottom: 15px;
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(9, 9, 9, 0.15);
    transform: scale(1.05);
    
}

/* Button */
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background-color: #0056b3;
}