body{
     font-family:Georgia, 'Times New Roman', Times, serif;
     margin:20px;
}

.block-menu a{
     text-decoration:bold;
     color:#000;
     display:block;
     padding:10px;
     margin:5px 0;
     background-color:blanchedalmond;
}
.inline-menu a{
     text-decoration:italic;
     color:#000;
     display:inline;
     padding:10px;
     margin:5px;
     background-color:rgb(255, 205, 233);
}
.inline-block-menu a{
     background-color:rgb(229, 169, 147);
     display: inline-block;
     color:#fff;
     height: 50px;
     width : 120px;
     padding:10px 15px;
     margin:5px;
}
.float-menu a{
     background-color:rgb(196, 249, 249);
     color:#141414;
     padding:10px 15px;
     margin:25px;
     float:right;
}
.clear-example{
     clear:both;
     background-color:lightgrey;
     padding:10px;
     margin-top:20px;
     border:1px solid #ccc;
}