body {
    background-color: lightgrey;
}
/* Class selector */
.highlight{
    color: rgb(113, 113, 142);
    text-decoration: underline;
    font-size: 20px;
    font-family: italic;
    background-color: rgb(252, 167, 87);}

/* ID selector */
/*ID selector has more priority than class selector */
    #special{
     text-decoration:rgb(3, 3, 3);
     text-align: center;
     font-style: times new roman;
     background-color: rgb(0, 255, 255);
     font-size: 25px;
     color:rgb(243, 3, 111);
}