#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 150px;
  height: 220px;
  border: 1px solid #000;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right{
     align-self:flex-end;
}