body{
     background-color: rgb(229, 141, 143);
}
/* Heading styling */
h1{
     font-family: italic;
     font-size:40px;
     text-align:center;
     color:black;
}
/* product box styling*/
.product-box{
     background-color:#ede7e7;
     width: 350px;
     margin:0 auto ;
     padding:15px;
     border:2px solid black;
     text-align:center;
     border-radius: 8px;
}
/* product image styling*/
.product-box img{
     width:100%;
     height:auto;
     border-radius:8px;
}
/* product box styling*/
.product-box h2{
     font-family: Arial, sans-serif;
     font-size:24px;
     color:#000000;
     margin:15px 0;
}
/* button styling*/
.product-box p{
     font-size:20px;
     color:#666;
     margin:10px 0;
}
button{
     background-color:#4CAF50;
     color:white;
     padding:10px 20px;
     border:none;
     border-radius:4px;
     cursor:pointer;
     font-size:16px;
}
button:hover{
     background-color:#6e956f;
}