/* Heading styling */
h1{
     font-family: 'Times New Roman', Times, serif;
     font-size:36px;
     text-align:center;
     color:black

}
/* product box styling*/
.product-box{
     background-color:#f2f2f2;
     width: 300px;
     margin:0 auto ;
     padding:15px;
     border:2px solid black;
     text-align:center;
     border-radius:6px;
}
/* product image styling*/
.product-box img{
     width:100%;
     height:auto;
     border-radius:6px;
}
/* product box styling*/
.product-box h2{
     font-family: Arial, sans-serif;
     font-size:24px;
     color:#333;
     margin:15px 0;
}
/* button styling*/
button{
     background-color:#4CAF50;
     color:white;
     padding:10px 20px;
     border:none;
     border-radius:4px;
     cursor:pointer;
     font-size:16px;
}