*{
     padding:0;
     margin:0; 
     color:aliceblue;
     box-sizing: border-box;
}
button{
     border-radius: 4px;
     padding: 4px;
     background-color: #f08804;
}
#logo{
     font-size: 25px;
     color:#f08804;
     font-weight: bold;
}
#navbar{
     
     height:60px;
    background-color: black;
}
a{
     text-decoration: none;
     margin-right:200px;
}