*{
     padding:0;
     margin:0; 
     
     box-sizing: border-box;
}
button{
     border-radius: 4px;
     padding: 4px;
     background-color: #f08804;
}
#logo{
     font-size: 25px;
     color:#f08804;
     font-weight: bold;
}
#navbar{
     
     height:60px;
    background-color: black;
}
a{
     color:aliceblue;
     text-decoration: none;
     margin-right:200px;
}
.content-box{
     background-color: rgba(0,0,0,0.1);
     border:2px solid black;
     display:inline-block;
     height: 100px;
     margin:none;
     width:100px;

}
#content{
     padding-top: 25px;
     height:710px;
}

footer{
     height: 100px;
     background-color: black;
     text-align: center;
     color:aliceblue
}